-# in app/views/profiles/show.html.haml
-# %link#bootstrap-css{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css", :rel => "stylesheet"}/
-# %script{:src => "//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"}
-# %script{:src => "//code.jquery.com/jquery-1.11.1.min.js"}
-# / ---- Include the above in your HEAD tag --------
-# /
-#   User Profile Sidebar by @keenthemes
-#   A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
-#   Licensed under MIT
-# .container
-#   .row.profile
-#     .col-md-3
-#       .profile-sidebar
-#         / SIDEBAR USERPIC
-#         .profile-userpic
-#           %img.img-responsive{:alt => "", :src => @representative.photo_url}/
-#         / END SIDEBAR USERPIC
-#         / SIDEBAR USER TITLE
-#         .profile-usertitle
-#           .profile-usertitle-name
-#             Marcus Doe
-#           .profile-usertitle-job
-#             Developer
-#         / END SIDEBAR USER TITLE
-#         / SIDEBAR BUTTONS
-#         .profile-userbuttons
-#           %button.btn.btn-success.btn-sm{:type => "button"} Follow
-#           %button.btn.btn-danger.btn-sm{:type => "button"} Message
-#         / END SIDEBAR BUTTONS
-#         / SIDEBAR MENU
-#         .profile-usermenu
-#           %ul.nav
-#             %li.active
-#               %a{:href => "#"}
-#                 %i.glyphicon.glyphicon-home
-#                 Overview
-#             %li
-#               %a{:href => "#"}
-#                 %i.glyphicon.glyphicon-user
-#                 Account Settings
-#             %li
-#               %a{:href => "#", :target => "_blank"}
-#                 %i.glyphicon.glyphicon-ok
-#                 Tasks
-#             %li
-#               %a{:href => "#"}
-#                 %i.glyphicon.glyphicon-flag
-#                 Help
-#         / END MENU
-#     .col-md-9
-#       .profile-content
-#         Some user related content goes here...
-# %center
-#   %strong
-#     Powered by
-#     %a{:href => "http://j.mp/metronictheme", :target => "_blank"} KeenThemes
-# %br/
-# %br/


.card.mb-3
  %h2.text-center.card_header #{@representative.name}
  %h5.text-center.text-muted #{@representative.title}
  %h6.text-center.text-muted #{@representative.party}
  .card-body    
    %img.rounded.mx-auto.d-block{:alt => "Picture not available", :src => @representative.photo_url, :style => "height: 25%; width: 25%; "}
  .card-body
  %ul.list-group.list-group-flush
    %li.text-center.list-group-item 
      #{@representative.line1} 
      %br
      #{@representative.state} #{@representative.zip}             
  .card-footer.text-center.text-muted
    #{@representative.ocdid} 
.card



-# .row.mt-2
-#     .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
-#         %h3.text-center= @representative.name
        
-# %h2 Details about #{@representative.name}
-# = image_tag @representative.photo_url, :class="img-responsive center-block", :style => "float :center;border 1px solid #00000;" 

-# -# = image_tag(  )

-# -# no clue how to render profile picture with google API 
-# %ul#details
 
-#     %li
-#     OCD ID:
-#     = @representative.ocdid
-#     %li
-#     Title:
-#     = @representative.title
-#     %li
-#     Street:
-#     = @representative.line1

    
-#     %li
-#     Political Party:
-#     = @representative.party

-# %h3 Description:

-# %td
-#     = link_to representative_news_items_path(rep.id), class: 'btn btn-primary' do
-#         %i.fas.fa-newspaper
-#         News Articles
-# = button_to 'Delete', rep_profile_path, :method => :delete, :confirm => 'Are you sure?'
-# = link_to 'Back to Representative list', representative_path(@profile.name)
