.row
    .col-12
        %section.my-4
            %h2.text-center
                = @county.name + ', ' + @state.symbol
            .overflow-hidden.bg-light.text-center.mb-3
                .overflow-auto.py-3
                    %svg.d-inline#actionmap-state-counties-view{ version: 1.1, xmlns: 'http://www.w3.org/2000/svg' }
                        %title  Map of #{@state.name} highlighting #{@county.name}
                        /* SVG element will be filled using d3.js and a topojson file. */
.row
    .col-12.col-lg-8.offset-lg-2
        #actionmap-county-representatives
            //copy pasta
            .card
                .card-header#actionmap-representatives-details-header
                    %h3.text-center
                        %button.btn.btn-link.collapsed{ 'data-toggle': 'collapse',
                        'data-target': '#actionmap-representatives-details-collapse', 'aria-expanded': false,
                        'aria-controls': 'actionmap-represetatives-details-collapse' } Representatives in #{@county.name}
                .collapse#actionmap-representatives-details-collapse{ 'data-parent': '#actionmap-representatives-details-header',
                'aria-labelledby': '#actionmap-representatives-details-header' }
                    .card-body
                        .table-responsive-md
                            %table.table.table-striped.table-hover#actionmap-counties-represetatives-table
                                %caption Table of Representatives in #{@county.name}
                                %thead.thead-dark
                                    %tr
                                        %th #
                                        %th Name
                                        %th Office
                                        %th View
                                %tbody


#actionmap-info-box
.d-none#actionmap-info-container{ 'data-counties': @county_details.to_json, 'data-state': @state.to_json,
'data-state-topojson-file': asset_path("states/#{@state[:symbol].downcase}.topo.json"),
'county-std-fips-code': @county.std_fips_code }
= javascript_pack_tag 'county_map', 'data-turbolinks-track': 'reload'
